// background colors
$color-background-dark: #2d303a;
$background-header-border: #323746;
$color-background-bright: #f2f2f2;
$color-background-slider: #f06c64;

// font colors
$color-font-header: #ffffff;
$color-font-nav-active: #f06c64;
$color-font-main: #767e9e;
$color-font-heading: #666d89;
$color-font-portfolio-active: #dedede;    

// screen sizes
$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 375px; 

