// background colors
$color-background-dark: #2d303a;
$background-dark-border: #323746;
$color-background-bright: #f2f2f2;
$color-background-slider: #f06c64;
$background-slider-border:#ea676b;
$color-slide2: #648bf0;
$color-slide1: #f06c64;


// font colors
$color-font-header: #ffffff;
$color-font-nav-active: #f06c64;
$color-font-main: #767e9e;
$color-font-heading: #666d89;
$color-font-portfolio-active: #dedede;
$collor-border-portfolio-active: #bbbbbb;    

// screen sizes
$content-width: 1019px;
$tablet-width: 767px;
$mobile-width: 374px; 
$min-width: 320px;

