@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.navigation-link:hover, #previous:hover, #next:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.slide {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#previous:hover, #next:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato", Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration-color: inherit;
}

h1 {
  margin: 0;
  padding-left: 40px;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
}
h1 a {
  color: #ffffff;
}
h1 .star::before {
  content: "*";
  padding-left: 1px;
  color: #f06c64;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3.6rem;
  text-transform: capitalize;
}

h3 {
  margin: 0;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.8rem;
  text-transform: capitalize;
}

P {
  margin: 0;
}

.slider-wrapper {
  position: relative;
}

#previous, #next {
  position: absolute;
  z-index: 9999;
  top: 283px;
}
#previous {
  left: 40px;
}

#next {
  right: 40px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  height: 95px;
  padding: 29px 0 33px 0;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0 40px 0 0;
}

.navigation-link {
  display: inline-block;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.44rem;
  text-transform: uppercase;
  color: #ffffff;
  list-style: none;
}
.navigation-link:nth-child(n+2)::before {
  content: "•";
  display: inline-block;
  vertical-align: top;
  padding: 0 11px;
  font-size: 0.5rem;
  color: #ffffff;
}
.navigation-link:hover {
  color: #f06c64;
  cursor: pointer;
}

.active {
  color: #f06c64;
}

.slider {
  box-sizing: border-box;
  height: 600px;
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider-container {
  position: relative;
  display: block;
  width: 1020px;
  height: 594px;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0;
  display: block;
  z-index: 1000;
  width: 1020px;
}
.slide img {
  width: 100%;
  height: 100%;
}

.right {
  left: 100%;
  z-index: 200;
}

.right-prev {
  left: 100%;
  z-index: 100;
}

.left {
  left: -100%;
  z-index: 1;
}

.services {
  box-sizing: border-box;
  height: 500px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services-wrapper {
  padding: 59px 0 46px 0;
}
.services-wrapper > * {
  padding: 0 40px;
}
.services-wrapper > p {
  padding-top: 18px;
  padding-bottom: 60px;
}

/*# sourceMappingURL=style.css.map */
