.header {
    box-sizing: border-box;
    height: 95px;
    padding: 29px 0 33px 0;
    background: $color-background-dark;
    border-bottom: 6px solid $background-dark-border;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navigation {
    display: flex;
    margin: 0;
    padding-right: 40px;        
}

.navigation-link {
    display: flex;
    @include font($size:1.2rem, $weight:700, $height:1.44rem, $transform:uppercase);
    color: $color-font-header;
    list-style: none;
    &:nth-child(n + 2)::before {
        content: "\2022";
        display: inline-block;
        vertical-align: top;
        padding: 0 11px;
        font-size: .5rem;
        color: $color-font-header;
    }  
    &:hover {
        color: $color-font-nav-active;
        @extend %transition;
    }
}

.active {
    color: $color-font-nav-active;
    &>a {
        cursor: default;
    }
}

