.header {
    margin-top: -95px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 10000;
    height: 95px;
    padding: 29px 0 33px 0;
    background: $color-background-dark;
    border-bottom: 6px solid $background-dark-border;

    @include media-tablet {
        margin-top: -71px;
        padding: 23px 0 23px 0;
        height: 71px;
        border-bottom: none;
    }
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include media-content {
        align-items: center;
    }

    &>nav {
        @include media-tablet {
            flex: 0 1 25px;
            margin-right: 20px;
        }
    }
}



.navigation {
    display: flex;
    margin: 0;
    padding-right: 40px;

    @include media-tablet {
        display: none;
    }
}

.navigation-link {
    display: flex;
    @include font($size:1.2rem, $weight:700, $height:1.44rem, $transform:uppercase);
    color: $color-font-header;
    list-style: none;

    &:nth-child(n + 2)::before {
        content: "\2022";
        display: inline-block;
        vertical-align: top;
        padding: 0 11px;
        font-size: .5rem;
        color: $color-font-header;
    }

    &:hover {
        color: $color-font-nav-active;
        @extend %transition;
    }
}

.active {
    color: $color-font-nav-active;

    &>a {
        cursor: default;
    }
}