// for .header
.visible-header {
    padding-top: 0;

    &:hover {
        cursor: default;
    }
}

// for .header-wrapper
.visible-wrapper {
    display: block;
    position: absolute;
    z-index: 10025;
    background: rgba(45, 48, 58, .6);
    width: 100vw;
    height: 100vh;
    @extend %transition;
}

// for .navigation 
.navigation-active {
    left: 0;
}

// for .burger-background 
.background-active {
    left: 0;
}

// for button .hamburger
.visible-hamburger {
    transform: rotate(90deg);
    @extend %transition;
    z-index: 10100;
    margin-top: 26px;
}

// for .logo
.visible-h1 {
    display: inline-block;
    margin: 23px 28px 0;
    @extend %transition;
    position: absolute;
    z-index: 10100;
}